/* ABOUT SECTION */
.image-header {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 3.5em;
    /* border: 1px solid red; */
}

.image-header img {
    height: 250px;
    width: 270px;
    border-radius: 130px;
}

.image-header h1 {
    display: flex;
    align-items: center;
    /* border: 1px solid red; */
}

.resume-btn-container {
    display: flex;
    justify-content: center;
    /* border: 1px solid red; */
}


/* SKILLS SECTION */
.features img {
    height: fit-content;
    width: 100px;
    /* border: 1px solid red; */
}

.features section h3 {
    margin-top: 1em;
}



.image-juke {
    display: flex;
    padding: 2em;
    /* border: 1px solid red; */
}

.image-juke img {
    max-width: 100%;
}

.image-cribz {
    display: flex;
    padding: 2em;
    /* border: 1px solid red; */
}

.image-cribz img {
    max-width: 100%;
}

.image-hg {
    display: flex;
    padding: 2em;
    /* border: 1px solid red; */
}

.image-hg img {
    max-width: 100%;
}
